.wrapper {
    height: 100%;
    width: 100%;
    user-select: none;
    scroll-behavior: auto;
    overflow: hidden;
    background: white;


}

.wrapper > * {
    font-family: Roboto !important;
}

.content {
    height: 100%;
    width: 100%;
    background: #f4f5fa;
    overflow: hidden;
    position: relative;
}


.scaleContainer {
    display: flex;
    gap: 8px;
    position: fixed;
    background: white;
    border-radius: 32px;
    overflow: hidden;
    bottom: 30px;
    left: 30px;
    z-index: 999;
    border: #ecedf2 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 150ms ease-in-out;
}

.scaleButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    color: #555555;

    border: none;


    cursor: pointer;

    transition: 150ms linear;
}

.scaleButton:hover {
    background: #E8F0FE;
    color: #0095ff;
}

.scaleButton:active {
    box-shadow: none;
}

.scaleButton:disabled {
    box-shadow: none;
    color: #e0e0e0;
    border: none;
    background: white;
    cursor: unset;
}


.scaleInfo {

    background: white;
    justify-content: center;
    font-size: .9rem;
    display: flex;
    align-items: center;
    width: 40px;
}

.canvasBackground {
    background: white radial-gradient(#AFBAC5 1px, transparent 0);
    background-size: 20px 20px;
    position: absolute;
    left: 0;
    top: 0;


}

.canvasContainer {
    border-top: #ecedf2 1px solid;
    overflow: auto;
    position: relative;
    width: 100%;

    cursor: default;
    scroll-behavior: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contentWrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    background: transparent;
    height: 100%;

}

.enterA {
    animation: enter 250ms ease-in-out;
}

.exitA {
    animation: exit 250ms ease-in-out;
}

@keyframes exit {
    0% {
        opacity: 1;
        /*transform: translateX(0);*/
    }
    100% {
        opacity: 0;
        /*transform: translateX(-100%);*/
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        /*transform: translateX(100%);*/
    }
    100% {
        opacity: 1;
        /*transform: translateX(0);*/
    }
}

.loader {
    width: 100vw;
    position: absolute;
    background: #e0e0e0;

    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 5px;
}

.loaderBar {
    animation: load 2s ease-in-out infinite;
    background: #0095ff;
    height: 100%;
    width: 15%;
    position: absolute;
}


@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(0%);
        left: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(-50%);
        left: 50%;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        left: 100%;
    }
}

.selectBox {
    border: #0095ff 2px solid;
    background: rgba(0, 149, 255, .3);
    border-radius: 3px;
    position: fixed;
    /*animation: enter 150ms linear;*/

}