.container {
    background: white;


    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: 10px 0 0 10px;

    overflow-x: hidden;
    width: 400px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100vh;

    padding: 16px 0;

    animation: slideIn 250ms ease-in-out;

    overflow-y: auto;
    display: grid;
    gap: 8px;
    align-content: flex-start;
    user-select: none;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.exitAnimation{
    animation: slideOut 250ms ease-in-out;
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }

}
.header {
    width: 100%;
    display: grid;
    gap: 16px;
}


.footer {
    border-top: #e0e0e0 1px solid;
    display: grid;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    background: white;
    color: #777777;
    border-radius: 50%;
    border: none;

    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: 150ms linear;
}

.buttonContainer:hover {
    color: #0095ff;
    background: #E8F0FE;
}


.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    outline: none;
    background: #0095ff;
    color: white;
    border-radius: 5px;
    border: none;

    cursor: pointer;

    height: 35px;
    margin-top: 16px;
    transition: 150ms linear;
}

.saveButton:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.saveButton:active {
    box-shadow: none;
}

.saveButton:disabled {
    cursor: unset;
    color: #999999;
    background: white;
    box-shadow: none;
    border: #ecedf2 1px solid;
}

.dragHeader {
    font-family: Roboto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background: #F8F8FC;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    cursor: move;
    color: #555555;
    transition: 150ms linear;
}
.dragHeader:active{
    color: #0095ff;
}
.valueContainer{
    border: #ecedf2 1px solid;
    font-weight: normal;

    text-align: center;
    /*height: 100%;*/
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
}

.basicInput{
    outline: none;
    background: white;
    border: #ecedf2 1px solid;
    border-radius: 5px;
    padding: 8px;
    height: 40px;

    font-family: Roboto;
    font-size: .9rem;
    color: #555555;

    width: 100%;

    transition: 150ms linear;
}
.basicInput:hover{
    background: #f4f5fa;
}
.basicInput:focus{
    background: #E8F0FE;
    border-color: #0095ff;
}
.fieldTitle{
    display: flex;
    align-items: center;
    gap: 16px;
}
.fieldContainer{
    /*padding: 0 8px;*/
    padding-bottom: 16px;
    width: 100%;
    font-family: Roboto;
    font-size: .8rem;
    gap: 4px;
    font-weight: bold;
    color: #555555;
}
.dropdown{
    border-radius: 5px;
    border: #ecedf2 1px solid;
    width: 100%;

}
.dropdown:focus,.dropdown:focus-within, .dropdown:active{
    background: #E8F0FE;
    border: #ecedf2 1px solid;
}

.dropdown > option{
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 5px;
    border: #ecedf2 1px solid;
}
.overflowEllipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.colorPicker{
    width: 100%;
    border-radius: 5px;
    border: #ecedf2 1px solid;
    padding: 8px;
}