.shapes {
    display: inline-flex;
    flex-flow: row wrap;
    /*align-items: flex-start;*/
    width: 100%;
    gap: 8px;
    padding: 8px;
    transition: 150ms linear;
}

.shapeWrapper{
    position: absolute;
    border: #0095ff 2px dashed;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255, .4);

    width: 500px;
    height: 250px;
}

.overflowEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

