.container {
    height: 100%;
    width: fit-content;
    display: flex;
}
.horizontalContainer {
    height: 100%;
    width: 100%;
    display: grid;
}
.buttons {
    width: 55px;
    height: 100%;
    background: #f4f5fa;
    display: grid;
    align-content: flex-start;
    gap: 12px;
    padding: 4px;
}
.horizontalButtons{
    width: calc(100% - 32px);
    margin: auto;

    background: #f4f5fa;
    border: #ecedf2 1px solid;
    display: flex;
    align-content: center;
    align-items: center;

    justify-content: space-between;
    padding: 8px 4px 0px 4px;
    border-radius: 5px;
}
.button {
    outline: none;
    border: none;
    background: transparent;
    color: #555555;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 150ms linear;

    border-radius: 5px;
    padding: 8px;
}

.button:hover {
    background: #f4f5fa;
    color: #333333;
}

.button:active {
    background: #E8F0FE;
    color: #0095ff;
}

.button:disabled {
    background: transparent;
    color: #999999;
    cursor: unset;
}

.activeButton {
    background: #0095ff;
    color: #f4f5fa;
}

.activeButton:hover {
    background: #0095ff;
    color: white;
}

.content {
    width: 250px;
    scroll-behavior: smooth;
    overflow-y: auto;
    display: grid;
    gap: 4px;
    align-content: flex-start;
    padding: 8px 8px 4px;
    border-right: #ecedf2 1px solid;
    border-left: #ecedf2 1px solid;
}

.enterAnimation{
    animation: fadeIn 150ms linear;
    transform-origin: top left;

}

.exitAnimation{
    animation: fadeOut 150ms linear;
    transform-origin: top left;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        overflow: hidden;

    }
    100% {
        opacity: 1;
        overflow: auto;
    }
}
@keyframes fadeOut {
    100% {
        opacity: 0;

    }
    0% {
        opacity: 1;
    }
}

.header {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.1rem;
    color: #555555;
    padding-bottom: 16px;
}

.labelContainer{
    font-family: Roboto;
    font-size: .7rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 4px;
    font-weight: bold;
    color: #555555;
    width: 55px;
}
.overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 50px;

}