

.pagesContainer {
    background: transparent;
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 8px 0 0;

    height: 35px;
}



.newPageButton{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: 8px 8px 0 0;
    color: #555555;
    background-color: #f4f5fa;
    transition: 150ms linear;
    cursor: pointer;
}
.newPageButton:hover{
    color: #333333;
}
.newPageButton:active{
    color: #0095ff;
}
.newPageButton:disabled{
    cursor: unset;
    color: #999999;
    background-color: white;
}

.pageButton{
    width: 100%;

    min-width: unset;
    height: 100%;
    outline: none;
    border-radius: 8px 8px 0 0;

    font-family: Roboto;
    color: #555555;
    font-size: .85rem;
    font-weight: bold;

    padding: 8px;
    padding-right: 32px;
    text-align: left;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    cursor: pointer;
    border: #ecedf2 1px solid;
    border-bottom: none;
    transition: 150ms linear;
    animation: popIn 150ms linear;
}
.pageButton:disabled{
    cursor: unset;
    color: #333333;
}

@keyframes popIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.pageButtonsContainer{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    position: relative;
}
.removePageButton{
    outline: none;
    border: none;
    background: transparent;
    transition: 150ms linear;

    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 30px;
    z-index: 999;
    cursor: pointer;

    display: flex;
    align-items:center ;
    justify-content: center;
    color: #555555;
}
.removePageButton:hover{
    color: #ff5555;
}

.pageInput{
    border-radius: 8px 8px 0 0;
    outline:  none;
    background: white;
    width: 100%;
    height: 100%;

    padding: 0;
    border: #0095ff 1px solid;
    border-bottom: none;
    text-align: center;
    font-family: Roboto;
    /*color: ;*/
    font-size: .85rem;
    font-weight: bold;
}