.field{
    width: 100%;
    height: 40px;
    text-align: left;
    padding: 8px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 8px;

    transition: 150ms linear;
    font-family: Roboto;
    border-radius: 5px;
    border: #e0e0e0 1px dashed;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    cursor: grab;
}
.field:hover{
    background: #f4f5fa;

}
.field:active{
    background: #E8F0FE;
    color: #0095ff;
    cursor: grabbing;
}
.fields{
    display: grid;
    gap: 4px;
    width: 100%;
}