
.graphs {
    position: relative;
    padding: 16px;

    display: grid;
    height: 100%;

    width: 100%;
    align-content: flex-start;
    gap: 8px;

    overflow-y: hidden;
    overflow-x: hidden;

}



.data {
    border-radius: 3px;
    height: 40px;
    /*min-width: 17px;*/
background: #0095ff;
    animation: extend 750ms ease-in-out;

    transition: 250ms ease;
    position: relative;
    z-index: 999;
}
.data:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes extend {
    0%{
        max-width: 0;
    }
    100%{
        max-width: 100%;
    }

}




.label{
    width: 40px;

    text-align: left;
    vertical-align: middle;
    line-height: 40px;
    font-family: Roboto;
    font-size: .9rem;
    color: #555555;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overview{
    background: #f4f5fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /*background: white;*/
    border-radius: 5px;
    padding: 16px;
    display: grid;
    justify-items: center;
    align-content: flex-start;
    gap: 16px;

}

.toolTipValue{

    color: #666666;
    font-size: .9rem;
    text-align: left;
    width: 100%;
}
.toolTipAxis{

    color: #555555;
    font-size: .9rem;
    font-weight: bold;
    text-align: left;
    width: 100%
}


.values {
    height: calc(100% - 80px);

    /*padding: 0 50px;*/
    display: flex;
    /*height: 40px;*/
    position: fixed;
    bottom: 40px;
    width: calc(100% - 67.5px);
    z-index: 0;
    overflow: visible;
    align-content: flex-end;
    /*padding-left: calc(5% + 10px);*/
}

.value {
    width: 100%;
    font-family: Roboto;
    color: #555555;

    height: 100%;
    display: grid;

    justify-content: flex-start;
    overflow-x: hidden;
    font-size: .85rem;
    position: relative;

}

.divider{
    position: absolute;
    width: 1px;
    border-left: #393C44 1px dashed;
    height: calc(100% - 32px);
    margin-bottom: 16px;
    margin-top: 16px;
    display: grid;
    align-content: flex-end;
    justify-content: center;
    justify-items: center;
}
